{% extends "base.html" %}

{% block content %}

<h1 class="whiteTitleText text-center">Edit Flash Cards</h1>
<hr class="whiteLine" style="height:2px">

<!-- Card info section.-->
<div class="whitePanel text-center" style="padding:10px; margin-bottom: 10px;">
    <h3>Flash Cards Info</h3>
    <hr style="margin:5px">
    <div class="row">
        <div class="col-md-3">
            <h5>Title</h5>
            <p>{{ cards.title }}</p>
        </div>
        <div class="col-md-7">
            <h5>Description</h5>
            <p>{{ cards.description }}</p>
        </div>
        <div class="col-md-2">
            <h5>View Setting</h5>
            {% if cards.public %}
            <p>Public</p>
            {% else %}
            <p>Private</p>
            {% endif %}
        </div>
    </div>
    
    <form name="editCards">
        <input type="hidden" id="oldTitle" name="oldTitle" value={{ cards.title }}>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="title" hidden>Title</label>
                <input type="text" name="title" class="form form-control" maxlength="40"
                value="{{ cards.title }}" placeholder="Enter Title Here"  required>
            </div>
            <div class="form-group col-md-7">
                <label for="description" hidden>Description</label>
                <input type="text" name="description" class="form form-control" maxlength="100"
                    value="{{ cards.description }}" placeholder="Enter Description Here" required>
            </div>
            <div class="form-group col-md-2">
                <p hidden>View Setting</p>
                <div class="form-check">
                    <!--Check if pre checked or not. -->
                    {% if cards.public %}
                    <input class="form-check-input boxButton1" type="checkbox" value="true" id="public"
                    name="public" checked>                    
                    {% else %}
                    <input class="form-check-input boxButton1" type="checkbox" value="true" id="public"
                    name="public">
                    {% endif %}
                    <label class="form-check-label" for="public">Public</label>
                </div>
            </div>
        </div>
        <div class="center">
            <input type="submit" value="Enter" class="btn lPinkButton">
            <p class="error error--hidden" style="color:red"></p>
        </div>
    </form>

</div>

<!-- Section to add cards. -->
<div class="container text-center">
    <div class="brownPanel card" style="margin-bottom:10px">
        <div class="text-center">
            <h4><a data-toggle="collapse" href="#AddCards" style="color:white">&lt; Add Cards &gt;</a></h4>
        </div>
        <div id="AddCards" class="collapse">
            <hr style="background-color:rgba(139, 77, 70, 0.7)">
            <div id="numberSection">
                <h5 style="margin:2px">How many cards to add:</h5>
                <p style="margin:2px">(20 max at a time, 150 total limit.)</p>
                <input type="number" id="questionTotal" name="questionTotal" class="form form-control mx-auto"
                    style="width:65px; margin:5px" required>
                <input id="numberButton" class="btn lPinkButton" type="button" value="Enter"
                    onclick="GenerateBoxes();" />
                <p class="error2" style="color:rgb(255, 177, 177)"></p>
            </div>
            <form name="addCard" id="questionSection" style="display:none">
                <input type="hidden" id="cardsTitle" name="cardsTitle" value={{ cards.title }}>
            </form>
        </div>
    </div>
</div>

<!-- Section to edit individual cards-->
<div class="whitePanel text-center" style="padding:10px; margin-bottom: 10px;">
    <h3 style="margin-bottom:0px">Cards Edit</h3>
    <h5 style="margin:0px">{{cards.cards|length}}/150</h5>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Question</th>
                    <th scope="col">Answer</th>
                    <th scope="col">Option</th>
                </tr>
            </thead>
            <tbody>
                {% for x in cards.cards %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ x.question }}</td>
                    <td>{{ x.answer }}</td>
                    <td>
                        <input class="btn brownButton" type="button" value="Edit"
                            onclick="toggleEditCard( {{ loop.index }} );" />
                        <a class="btn brownButton" href="/user/deleteCard/{{cards.title}}/{{ loop.index-1 }}">-</a>
                    </td>
                </tr>
                <tr id="cardDropdown{{loop.index}}" style="display:none">
                    <form name="editCard">
                        <input type="hidden" id="cardsTitle" name="cardsTitle" value={{ cards.title }}>
                        <input type="hidden" id="cardIndex" name="cardIndex" value={{ loop.index }}>
                        <th></th>
                        <td>
                            <input type="text" class="form form-control" name="questionEdit" maxlength="100"
                                value="{{x.question}}" required>
                        </td>
                        <td>
                            <input type="text" class="form form-control" name="answerEdit" maxlength="100"
                                value="{{x.answer}}" required>
                        </td>
                        <td>
                            <input class="btn brownButton" type="submit" value="Save" />
                        </td>
                    </form>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}