{% extends "base.html" %}
{% block content %}

{% if cards.cards[0] %}
<script>
    var cards = JSON.parse('{{ cards.cards | tojson }}');   
</script>
<div class="row text-center">
    <!--Title section.-->
    <div class="col-sm-12 whiteTitleText">
        <h1 style="display:inline">{{ cards.title }} </h1>
        <h4 style="display:inline">By: {{ cards.owner_name }}</h4>
        <hr class="whiteLine" style="height:2px">
    </div>

    <!--Card section.-->
    <div class="col-sm-8 offset-sm-2">
        <div class="whitePanel" id="introCard" style="margin-bottom:12px">
            <div class="row">
                <div class="col-md-12">
                    <h3>- Description -</h3>
                    <hr style="margin:5px">
                    <p style="font-size: 20px;"><i>{{ cards.description }}</i></p>
                </div>
                <div class="col-md-6">
                    <h5>- Instructions -</h5>
                    <hr style="margin:5px">
                    <p><i>Click on the card to flip it.<br>Use the Next and Previous button to change cards.</i></p>
                </div>
                <div class="col-md-6">
                    <h5>- Settings -</h5>
                    <hr style="margin:5px">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="shuffleCheck" checked />
                        <label class="form-check-label" for="shuffleCheck">Shuffle Cards</label>
                    </div>
                    <div class="form-check" style="margin-bottom:15px">
                        <input class="form-check-input" type="checkbox" value="" id="flipCheck" />
                        <label class="form-check-label" for="flipCheck">Flip Questions with Answers</label>
                    </div>
                </div>
            </div>

            <input id="startButton" class="btn brownButton" type="button" value="View Flash Cards"
                onclick="startCardView(cards);" />
        </div>
        <div class="whitePanel" id="displayCard" style="display:none;margin-bottom:12px" onclick="cardFlip();">
            <p style="margin:0"><span id="index"></span>/<span id="total"></span></p>
            <h5 id="problemLabel"></h5>
            <hr style="margin:5px">
            <p id="problemText" style="font-style:italic"></p>
        </div>
    </div>

    <!--Button Section-->
    <div class="col-sm-3 offset-sm-3">
        <input id="previousButton" class="btn brownButton" style="width:100%; height:50px; display:none" type="button"
            value="Previous" onclick="previousCard();" disabled />
    </div>
    <div class="col-sm-3">
        <input id="nextButton" class="btn brownButton" style="width:100%; height: 50px; display:none" type="button"
            value="Next" onclick="nextCard();" disabled />
    </div>
    <div class="col-md-12" id="numberButtons" style="padding:5px">
        
    </div>
</div>

<script src="/static/js/viewCardsScript.js"></script>

{% else %}
<div class="container">
    <div class="jumbotron text-center">
        <p> No items are in the list</p>
    </div>
</div>
{% endif %}
{% endblock %}